# Capstone Project Jupyter Notebook

In [4]:
import pandas as pd
import numpy as np

In [13]:
# Load data from the url and only pick the first tabel as a Data Frame
data = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [18]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
# All neighbourhood for the same Postal code has been concated into a single row
data = data[data['Borough']!= 'Not assigned']
data.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [19]:
# There is no cell with Not assigned neighborhood 
data[data['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [22]:
print(data.shape)

(103, 3)

In [25]:
# Load Geocoder csv
geo_data = pd.read_csv("Data/Geospatial_Coordinates.csv")

In [26]:
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [27]:
# Merge data frame based on Postal Code
result_df = pd.merge(data, geo_data,  how='left', left_on=['Postal Code'], right_on = ['Postal Code'])
result_df.head()

  Postal Code           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]